<div class="container">
  <div class="row">

  <div class="col-md-3">

    <div>
      <h3><%= @user.name %></h3>
      <%= image_tag @user.get_profile_image(100,100) %>
    </div>

<!--form_with入れる投稿画面-->
    <div class="col-md-8 offset-md-1">
      <h2>New book</h2>
        <%= form_with model: @book do |f| %>
          <h4>Title</h4>
          <%= f.text_field :title %>
          <h4>opinion</h4>
          <%= f.text_area :body %>
          <%= f.submit 'Create Book' %>
        <% end %>
    </div>

<!-- ユーザーの投稿一覧 -->
    ああああああああ

      <% @books.each do |book| %>
        <div>
          <%= link_to books_path(book.id) do %>
            <%= image_tag @user.get_profile_image(100,100) %>
          <% end %>
          <!--<p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>-->
          <p>説明：<%= book.title %></p>
          <!--<p>ユーザーネーム：<%= book.user.name %></p>-->
        </div>
      <% end %>
    </div>
  </div>
</div>